@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  --green: #379777;
  --yellow: #f4ce14;
  --dark: #45474b;
  --light: #f5f7f8;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

body {
  font-family: "Merriweather", sans-serif;
  background-color: var(--green);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

main {
  flex: 1;
}

header h1 {
  padding: 2rem;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  transition: 0.5s ease;
}

header h1:hover {
  color: var(--yellow);
  font-size: 3.5rem;
  cursor: crosshair;
  letter-spacing: 0.1rem;
}

.container form {
  padding-bottom: 1rem;
  width: 100%;
  font-size: 1.25rem;
}

form input,
select {
  color: var(--dark);
}

input#budget {
  margin-bottom: 1rem;
}

fieldset {
  border: 0.1rem solid var(--light);
  padding: 0.5rem;
}

legend {
  padding: 0.25rem;
}

label,
legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.controls {
  padding-top: 1rem;
}

button,
select {
  padding: 0 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--dark);
  font-weight: bold;
  border-radius: 0.25rem;
  transition: 0.5s ease;
}

button:hover {
  padding: 0.6rem;
  font-size: 1.5rem;
  font-weight: 900;
}

button,
input,
select {
  min-height: 24px;
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 0.25rem;
}

.output {
  padding-bottom: 2rem;
}

.hide {
  display: none;
}

.output span {
  font-weight: 900;
  font-size: 2rem;
}

hr {
  margin: 0.5rem;
  padding: 0.1rem;
  border: none;
  background-color: var(--light);
}

footer {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  color: var(--dark);
  background-color: var(--yellow);
}

footer h3 {
  transition: 0.5s ease;
}

footer h3:hover {
  cursor: crosshair;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}
